@charset "ISO-8859-1";
/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #b1fafe;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

/* Container styles */
.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    text-align: center;
}

/* Heading styles */
h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Form labels */
label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

/* Form inputs */
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="checkbox"] {
    margin-right: 10px;
}

/* Submit button */
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 100%;
}

input[type="submit"]:hover {
    background-color: #008000;
}

/* Checkbox container */
.checkbox-container {
    text-align: left;
    margin-bottom: 10px;
}

.checkbox-label {
    display: inline-block;
    margin-left: 5px;
}
